.sidebar {
    flex: 2.5;
    height: 100vh;
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 4px 6px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all .3s;
}

.sidebarListItem:hover {
    box-shadow: none;
    transform: translateY(5px);

}

.sidebarListItemText {
    font-size: 20px;
    padding-top: 3px;
}

.sidebarHr {
    margin: 20px 0;
}

.sidebarClearButton{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    border: solid 2px;
    border-color: black;
    transition: .3s;
    padding: 0 8px;
}

.sidebarClearButton:hover{
    background-color: blue;
}
.sidebarClearButton:hover .sidebarClearButtonText{
    color: white;
}